# Entorno virtual de Python
venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de configuración de IDE
.vscode/
.idea/

# Logs de predicciones y rendimiento
predictions_log.csv
performance_log.csv
financial_log.csv